<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:social="http://spring.io/springsocial"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>TwitterToFeed home page</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
	th:href="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>

</head>
<body>
	<div layout:fragment="content">

		<div id="header">
			<h1>
				<a th:href="@{/}">Twitter to Feed</a>
			</h1>
		</div>

		<div class="page-header">
			<!-- <h1 th:text="#{label.homepage.title}+' ' +${#authentication.principal.firstName}+' '+${#authentication.principal.lastName}"></h1> -->
		</div>

		<form method="POST" th:action="@{/signout}">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			<button>Sign Out</button>
		</form>
	</div>
</body>
</html>

