<!DOCTYPE html>
<html>

<head>
	<title>TwitterToFeed sign up page</title>
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
		th:href="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"
		rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	
</head>

<body>


	<div id="content" layout:fragment="content">
<div class="panel panel-default" sec:authorize="isAnonymous()">
			<div class="panel-body">
<form id="signup" th:action="@{/user/signup}" method="post" th:object="${signupForm}">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				
				<input type="hidden" th:type="hidden" th:field="*{signInProvider}" th:if="${signupForm.signInProvider} != null" />
				
				<div class="formInfo">
					<div class="error" th:if="${#fields.hasErrors('*')}">Unable to sign up. Please fix the errors below and resubmit.</div>
				</div>
				
				 <div class="form-group"> 
          		 <div class="col-lg-offset-2 col-lg-10">
					<label for="firstName">First Name <span th:if="${#fields.hasErrors('firstName')}" class="error" th:text="${#fields.errors('firstName')[0]}">Error</span></label>
					<input type="text" th:field="*{firstName}" />
				</div>
				</div>	
				 <div class="form-group"> 
          		 <div class="col-lg-offset-2 col-lg-10">
					<label for="lastName">Last Name <span th:if="${#fields.hasErrors('lastName')}" class="error" th:text="${#fields.errors('lastName')[0]}">Error</span></label>
					<input type="text" th:field="*{lastName}" />
					</div>
				</div>	
					 <div class="form-group"> 
          		 <div class="col-lg-offset-2 col-lg-10">
					<label for="email">email <span th:if="${#fields.hasErrors('email')}" class="error" th:text="${#fields.errors('email')[0]}">Error</span></label>
					<input type="text" th:field="*{email}" />
					</div>
				</div>	
				
				
				<div class="row" th:if="${signupForm.signInProvider} == null">
							<div id="form-group-password" class="form-group col-lg-4">
								<label class="control-label" for="user-password" >Password:</label>
								<input	th:field="*{password}" th:type="password" class="form-control" />
								<p th:if="${#fields.hasErrors('password')}"
									th:id="error-password" class="help-block" th:errors="*{password}"></p>
							</div>
						</div>
				
				
 			<div class="form-group"> 
          		 <div class="col-lg-offset-2 col-lg-10">
				<p><button type="submit">Sign Up</button></p>
				</div>
				</div>	
			</form>
</div>
</div>
</div>
</body>
</html>
