<!DOCTYPE html>
<html>

<head>
	<title>TwitterToFeed sign in page</title>
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
		th:href="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"
		rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
	
</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">TwitterToFeed sign in page</a></h1>
		</div>
		
		<div id="leftNav">
			Left nav menu
		</div>
		
		<div id="content" layout:fragment="content">
			<form id="signin" th:action="@{/signin/authenticate}" method="post">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
				<div class="formInfo">
			  		<div class="error" th:if="${param.error eq 'bad_credentials'}">
			  			Your sign in information was incorrect.
			  			Please try again or <a th:href="@{/signup}">sign up</a>.
			  		</div>
			  		<div class="error" th:if="${param.error eq 'multiple_users'}">
			  			Multiple local accounts are connected to the provider account.
			  			Try again with a different provider or with your username and password.
			  		</div>
				</div>
				
				
				
				    <div class="row">
                    <div id="form-group-email" class="form-group col-lg-4">
					  <label class="control-label" for="user-email">Email:</label>
                        <input id="user-email" name="username" type="text" class="form-control"/>
                    </div>
                </div>
                
                
                 <div class="row">
                    <div id="form-group-password" class="form-group col-lg-4">
                        <label class="control-label" for="user-password" >Password:</label>
                        <input id="user-password" name="password" type="password" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-4">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="form-group col-lg-4">
                    <a href="/signup" th:href="@{/signup}">Create user account</a>
                </div>
            </div>
				

			<!-- TWITTER SIGNIN -->
			<div class="row">
			 <div class="form-group col-lg-4">
				<p><a th:href="@{/auth/twitter}" >Sign in with your twitter account</a></p>
		</div>
		
      		</div>
   
        </div>
	</body>
</html>